<div ng-controller="horizon.dashboard.barbican.secrets.OverviewController as ctrl">
  <div class="row">
    <div class="col-md-12 detail">
      <h3 translate>Secret</h3>
      <hz-resource-property-list
        resource-type-name="OS::Barbican::Secret"
        cls="dl-horizontal"
        item="ctrl.secret"
        property-groups="[['name', 'status', 'secret_ref'],
                          ['algorithm', 'bit_length', 'content_types', 'mode'],
                          ['created', 'updated']]">
      </hz-resource-property-list>

      <h4 translate>Secret Value</h4>
      <div ng-if="ctrl.secret.payload_content_type == 'text/plain'">
          <div class="secret-output">
            <button
              class="btn-toggle-secret-visibility"
              ng-click="toggleSecretVisibility()"
            >
              <span ng-if="ctrl.showSecret" class="fa fa-eye-slash"></span>
              <span ng-if="!ctrl.showSecret" class="fa fa-eye"></span>
            </button>
            <button
              class="btn-copy-to-clipboard"
              ng-click="copyToClipboard()"
            >
              <span class="fa fa-copy"></span>
            </button>

            <span ng-if="ctrl.showSecret">{$ ctrl.secret.payload $}</span>
            <span ng-if="!ctrl.showSecret">****</span>
          </div>
          <textarea readonly="readonly"  id="secret-payload">{$ ctrl.secret.payload $}</textarea>
        </div>

        <div ng-if="ctrl.secret.payload_content_type == 'application/octet-stream'">
          This secret is a file.
          <!-- TODO: download button -->
        </div>

        <div ng-if="ctrl.secret.payload_content_type == null">
          This secret is empty.
        </div>
      </div>
  </div>
</div>
